<div class="modules">
  <div class="discussion-container">
    <h2>{{lessonTitle}}</h2>
      <div class="question-section">
          <div class="question-header">
              <div class="question-date">{{date}}</div>
              <div class="question-text">{{ discTopic }}</div>
          </div>
        <div class="loader-container" *ngIf="isLoading">
            <div class="spinner"></div>
        </div>
          <div class="answer-list" *ngIf="!isLoading">
              <div *ngFor="let discussion of discussions" 
                   [ngClass]="{'student-answer': discussion.role === 'student', 'teacher-answer': discussion.role === 'teacher'}" 
                   class="answer">
                  <div class="answer-user">{{ discussion.user }}</div>
                  <div class="answer-date">{{ discussion.date | date:'medium' }}</div>
                  <div class="answer-text"><p [innerHTML]="transformText(discussion.answer)"></p></div>
                  <!-- <div class="answer-text">{{ discussion.answer }}</div> -->
              </div>
          </div>
      </div>
      
      <div class="answer-form" *ngIf="!isLoading">
          <form [formGroup]="discussionForm" (ngSubmit)="submitAnswer()">
              <textarea formControlName="answer" placeholder="Insert text here..."></textarea>
              <button type="submit">Reply</button>
          </form>
      </div>
  </div>
</div>


