body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /* justify-content: center; */
    padding: 20px;
}

.sidebar {
    width: 300px;
    height: 600px;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-details {
    text-align: center;
}

.course-details img.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.course-details h2, .course-details h3 {
    margin: 10px 0;
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a.active {
    color: #0c7db1;
}

.main-content {
    padding-left: 10px;
    max-width: 1000px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content h1 {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}

.fa-check, .fa-times {
    font-size: 1.5rem;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }

    .main-content {
        padding-left: 0;
        max-width: 100%;
    }

    .modules {
        width: 100%;
    }
}
