<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a [routerLink]="['/main/Subject/main']">Home</a>
      </li>
      <li class="breadcrumb-item">
          <a [routerLink]="['/main/Subject/main/subject']">
              Subjects
          </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Students</li>
  </ol>
</nav>
  <div class="container">
    <div class="main-content">
      <div class="header">
        <h1>Students Enrolled</h1>
        <span class="badge2">{{ total }} Students</span>
      </div>
  
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Birthdate</th>
              <th>Gender</th>
              <th>Last Education</th>
              <th>Program</th>
              <th>Contact</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="students.length; else noStudents">
              <tr *ngFor="let student of students; let i = index" [class.alt-row]="i % 2 === 1">
                <td>{{ student.firstname + ' ' + (student.middlename || '') + ' ' + student.lastname }}</td>
                <td>{{ student.birthdate | date: 'MMMM d, yyyy' }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.last_education }}</td>
                <td>
                  <span class="badge">{{ student.program }}</span>
                </td>
                <td>{{ student.contact_numbers || 'N/A' }}</td>
              </tr>
            </ng-container>
          </tbody>
          <ng-template #noStudents>
            <tr>
              <td colspan="7" style="text-align: center;">No students enrolled in this class.</td>
            </tr>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
  
  
