<div class="container">
    <div class="sidebar">
        <div class="course-details">
            <img src="./assets/SCTS.jfif" alt="Profile Picture" class="profile-pic">
            <h2>Scientific and critical thinking</h2>
            <h6>8:00AM - 9:00AM</h6>
        </div>
        <ul>
            <!-- <li><a href="#" class="active">My Virtual Classroom</a></li> -->
            <li><a [routerLink]="['/main/Subject/main/subject/modulesmain/modules']">Modules</a></li>
            <li><a href="#">Students</a></li>
            <!-- <li><a href="#">Messages</a></li> -->
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>Students</h1>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ student.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
