<div class="header">
    <h1 style="text-align: center;">Nosebleeds, Swallowing Objects, Poisoning and Dog Bites</h1>
    <div class="button-group">
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/modules/mat']">
            <button class="nav-btn">Learning Material</button>
        </a>
        <a [routerLink]="[ '/main/Subject/main/subject/modulesmain/modules/assess']">
            <button class="nav-btn">Assessment</button>
        </a>
        <a [routerLink]="[ '/path']">
            <button class="nav-btn">Discussion</button>
        </a>
    </div>
</div>
<div class="modules">
    <div class="module">
        <div class="module-header">
            <div class="lesson-topic">Accidents happen at any time and at any
                place. How can you be sure that you are safe
                inside or outside your house? Study the pictures
                on the left. What do you see in them? If you
                happen to get injured and there is no doctor
                around, what should you do?
                First aid is an emergency care or treatment
                given to an ill or injured person before regular
                medical aid can be done. Be prepared to give
                first aid whenever an accident or an emergency
                may occur. Know what to do and what not to do
                to make your help effective. In other words, do
                only what is needed and avoid doing too much.
                Now, would you like to know how to give
                first aid? Turn to the next page to find out how to
                give first aid for nosebleeds, swallowing objects,
                poisoning and dog bites.</div>
            <div class="lesson-description">Lesson 1</div>
        </div>
        <div class="file-link">
            <a href="#">Download Lesson 1 Materials</a>
        </div>
    </div>
</div>
