<!-- Smooth scrolling CSS -->
<style>
    html {
        scroll-behavior: smooth;
    }
</style>

<a id="top"></a>
<div class="header">
    <div class="button-group" style="margin-top: 10px;">
        <button *ngIf="!isLoading" class="nav-btn"  [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'addmat']" style="display: flex; align-items: center;">
            <i class="fa fa-plus" aria-hidden="true" style="margin-right: 8px;"></i> Lessons
        </button>
    </div>
</div>

<div class="container-fluid d-flex gap-4 justify-content-center">
    <div class="loader-container" *ngIf="isLoading">
        <div class="spinner"></div>
    </div>
    
    <!-- Lesson Details (will take 9 columns on medium screens and larger) -->
    <div *ngIf="!isLoading" class="col-md-9">
        <div class="card" *ngFor="let lesson of lessons; let i = index" [attr.id]="'lesson-' + i" style="margin-bottom: 40px;">
            <div class="card-header d-flex align-items-center" style="position: relative;">
                <div>
                    <h5>{{ lesson.topic_title }}</h5>
                    <p [innerHTML]="transformText(lesson.lesson)"></p>
                </div>
                <div class="dropdown" style="position: absolute; top: 10px; right: 10px;">
                    <button (click)="toggleDropdown(lesson)" class="dropbtn">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-content" [ngClass]="{'show': lesson.isDropdownOpen}">
                        <a (click)="updateLesson(lesson.lesson_id)" [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'updateLesson']" >Update</a>                  
                        <a (click)="uploadFile(lesson.lesson_id)" [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'upload']" >Upload</a>                  
                        <a (click)="openModal2(lesson.lesson_id)" >Add Assessment</a>                  
                        <a (click)="deleteLesson(lesson)">Delete</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- First Column: Downloadable Materials -->
                    <div class="col-6">
                        <h6>Download Files</h6>
                        <ul>
                            <div *ngIf="lesson.file">
                                <li>
                                    <a *ngIf="lesson.file" [href]="'http://localhost:8000/storage/' + lesson.file" target="_blank">{{ lesson.file }}</a>
                                    <i *ngIf="lesson.file" (click)="deleteFile(lesson.lesson_id)" class="fa fa-trash fa-1x ms-2" style="cursor: pointer;" aria-hidden="true"></i>
                                </li>
                            </div>

                            <!-- Displaying media files line by line -->
                            <div *ngIf="lesson.media_files">
                                <ng-container *ngFor="let mediaFile of lesson.media_files.split(',')">
                                    <li>
                                        <a [href]="'http://localhost:8000/storage/' + mediaFile" target="_blank">{{mediaFile}}</a>
                                        <i (click)="deleteMediaFile(lesson.media_ids.split(',')[i] || lesson.media_ids)" class="fa fa-trash fa-1x ms-2" style="cursor: pointer;" aria-hidden="true"></i>
                                    </li>
                                    <br>
                                </ng-container>
                            </div>
                        </ul>
                    </div>
    
                    <!-- Second Column: Assessments -->
                    <!-- Assessments -->
                    <div class="col-6">
                        <h6>Assessments</h6>
                        <ul>
                            <li *ngFor="let assessment of lesson.filteredAssessments">
                                <a style="cursor: pointer; text-decoration: underline;" 
                                    (click)="navigateToQuestions(assessment.assessmentID, lesson.topic_title)"
                                    [ngStyle]="{'color': assessment.isOpen ? 'blue' : 'gray'}">
                                    {{ assessment.Title }}
                                </a>
                                <i (click)="deleteAssessment(assessment.assessmentID)" class="fa fa-trash fa-1x ms-2" style="cursor: pointer;" aria-hidden="true"></i>
                                
                                <div class="button-group">
                                <!-- Show the button only when the assessment is closed -->
                                <button *ngIf="!assessment.isOpen" class="nav-btn2" 
                                            style="background-color: gray;"
                                            (click)="toggleAssessmentStatus(assessment)">
                                    <i class="fa fa-check" aria-hidden="true" style="margin-right: 8px;"></i>
                                    Open
                                </button>
                                </div>
                            </li>                              
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer" >
                <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'discuss']" [queryParams]="{ lessonId: lesson.lesson_id, lessTitle: lesson.topic_title }" (click)="setLessonID(lesson.lesson_id)" routerLinkActive="active">
                    Discussions | {{lesson.cDiscussion || 0}} Topic/s
                </a>
            </div>
        </div>
    </div>
    
    <!-- Table of Contents (will take 3 columns on medium screens and larger) -->
    <div *ngIf="!isLoading" class="col-md-3">
        <div class="toc sticky-toc" style="text-align: end;">
            <h4>{{moduleTitle}}</h4>
            <div *ngFor="let lesson of lessons; let i = index">
                <div class="toc-item">
                    <a [routerLink]="[]" [fragment]="'lesson-' + i">
                        <h6>{{ lesson.topic_title }}</h6>
                    </a>
                </div>
            </div>

            <!-- Add Back to Top link -->
            <div class="toc-item" style="margin-top: 20px;">
                <a [routerLink]="[]" [fragment]="'top'" style="color: blue; text-decoration: underline;">Back to Top</a>
            </div>
        </div>
    </div>
</div>


<!-- Assessment Modal -->
<div class="modal" [ngClass]="{'show': isModalOpen2}" (click)="closeModal2()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal2()">&times;</span>
        <h2>Add Assessment</h2>
        <form [formGroup]="createAssessment" (ngSubmit)="save()">
            <div class="input-group">
                <label class="label">Title</label>
                <input formControlName="title" autocomplete="off" name="title" id="title" class="input" type="text">
            </div>
            <div class="input-group">
                <label class="label">Instruction</label>
                <textarea formControlName="instruction" autocomplete="off" name="description" id="description" class="textarea"></textarea>
            </div>
            <div class="input-group">
                <label class="label">Description</label>
                <textarea formControlName="description" autocomplete="off" name="description" id="description" class="textarea"></textarea>
            </div>
            <!-- <div class="input-group">
                <label class="label">Lesson</label>
                <select formControlName="lesson_id" name="typeOfQuestion" id="typeOfQuestion" class="input">
                    <option *ngFor="let lesson of lessons" [value]="lesson.lesson_id">{{lesson.topic_title}}</option>
                </select>
            </div> -->
            <div class="input-group">
                <label class="label">Due Date</label>
                <input formControlName="due_date" autocomplete="off" name="dueDate" id="dueDate" class="input" type="date">
            </div>
            <div class="button-group">
                <button class="submit-btn">ADD</button>
            </div>
        </form>
    </div>
</div>
