<div class="header">
    <h1 style="text-align: center;">{{moduleTitle}}</h1>
    <div class="button-group">
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'mat']"  routerLinkActive="active">
            <button class="nav-btn">Learning Material</button>
        </a>
        <!-- <a [routerLink]="[ '/main/Subject/main/subject/modulesmain/:id/modules/assess']"  routerLinkActive="active"> -->
            <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'assess']"  routerLinkActive="active">
            <button class="nav-btn">Assessment</button>
        </a>
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'discuss']"  routerLinkActive="active">
            <button class="nav-btn">Discussion</button>
        </a>
    </div>
    <div class="notification-icon" (click)="openModal()">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </div>
</div>
<div class="modules">
    <div class="module">
        <div class="module-header">
            <h5>Nosebleeds, Swallowing Objects, Poisoning and Dog Bites</h5>
            <p>Lesson 1</p>
        </div>
        <div class="file-link">
            <!-- <a [routerLink]="[ '/main/Subject/main/subject/modulesmain/modules/discuss/discussion']">What are your tought about Nosebleeds, Swallowing Objects, Poisoning and Dog Bites?</a> -->
            <a (click)="navigateToDiscussions()">What are your tought about Nosebleeds, Swallowing Objects, Poisoning and Dog Bites?</a>
        </div>
        <div class="file-link">
            <a href="#">Share your personal experience in any of this scenario.</a>
        </div>
    </div>
    <div class="module">
        <div class="module-header">
            <h5>Sprains, Dislocations and Fractures</h5>
            <p>Lesson 2</p>
        </div>
        <div class="file-link">
            <a href="#">What do you feel when experience this injury?</a>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Add Discussion</h2>
        <div class="input-group">
            <label class="label">Lesson</label>
            <select name="typeOfQuestion" id="typeOfQuestion" class="input">
                <option>Lesson 1</option>
                <option>Lesson 2</option>
            </select>
        </div>
        <div class="input-group">
            <label class="label">Discussion Title</label>
            <input autocomplete="off" name="topicTitle" id="topicTitle" class="input" type="text">
        </div>
        <div class="button-group2">
            <button class="submit-btn">ADD</button>
        </div>
    </div>
</div>
