body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 300px;
    height: 600px;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-icon{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.course-details {
    text-align: center;
}

.course-details img.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.course-details h2, .course-details h3 {
    margin: 10px 0;
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a.active {
    color: #0c7db1;
}

.main-content {
    padding-left: 10px;
    max-width: 1000px;
    width: 100%;
}

.header {
    text-align: center;
}

.header h1 {
    /* color: #666; */
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Ensure buttons wrap to the next line on smaller screens */
}

.nav-btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 auto; /* Allow buttons to grow and shrink */
    max-width: 200px; /* Ensure buttons don't get too large */
}

a.active .nav-btn {
    background-color: #0056b3;
}

.nav-btn:hover {
    background-color: #0056b3;
}

.modules {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.module {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.module a {
    text-decoration: none;
    color: #0c7db1;
    font-weight: bold;
}

.module p {
    color: #888;
    margin: 0;
}

.file-link {
    margin-top: 5px; /* Add some space above the file link */
    padding-left: 20px; /* Indent the file link */
}

.file-link a {
    text-decoration: none;
    color: #0056b3;
    font-weight: normal;
}

.file-link a:hover {
    text-decoration: underline;
} 

/* Modal Style */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    position: relative;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
}

.input-group, .input-group2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; /* Add margin-bottom to space out from other elements if needed */
}

.label, .label2 {
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input, .input2 {
    max-width: 100%;
    height: 44px;
    background-color: #05060f0a;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s, background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input, .input2:hover, .input2:focus, .input-group2:hover .input2 {
    outline: none;
    border-color: #05060f;
}

.input-group:hover .label, .input:focus ~ .label, .input-group2:hover .label2, .input2:focus ~ .label2 {
    color: #05060fc2;
}

.button-group2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #0c7db1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .3s;
}

.submit-btn:hover {
    background-color: #055a8c;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }

    .main-content {
        padding-left: 0;
        max-width: 100%;
    }

    .modules {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .nav-btn {
        flex: 1 1 100%; /* Buttons take full width on very small screens */
        max-width: 100%;
    }

    .button-group {
        flex-direction: row; /* Stack buttons vertically */
    }
}
