<div class="header">
    <h1 style="text-align: center;">{{moduleTitle}}</h1>
    <div class="button-group">
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'mat']"  routerLinkActive="active">
            <button class="nav-btn">Learning Material</button>
        </a>
        <!-- <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'assess']"  routerLinkActive="active">
            <button class="nav-btn">Assessment</button>
        </a> -->
        <!-- <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'discuss']"  routerLinkActive="active">
            <button class="nav-btn">Discussion</button>
        </a> -->
    </div>
    <div class="notification-icon" (click)="openModal()">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </div>
</div>
<div class="loader-container" *ngIf="isLoading">
    <div class="spinner"></div>
</div>
<div *ngIf="!isLoading" class="modules">
    <div class="module">
        <div class="module-header">
            <h5>{{ lessonTitle }}</h5>
        </div>
        <div class="file-link" *ngFor="let dc of discuss">
            -> <a (click)="navigateToDiscussions(dc.discussionid, dc.discussion_topic, dc.created, lessonTitle)">
                {{ dc.discussion_topic }}
            </a>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <form [formGroup]="createDiscussion" (ngSubmit)="save()">
            <h2>Add Discussion</h2>
            <!-- <div class="input-group">
                <label class="label">Lesson</label>
                <select formControlName="lesson_id" name="typeOfQuestion" id="typeOfQuestion" class="input">
                    <option *ngFor="let lesson of lessons" [value]="lesson.lesson_id">{{lesson.topic_title}}</option>
                </select>
            </div> -->
            <div class="input-group">
                <label class="label">Discussion Question</label>
                <!-- <input formControlName="discussion_topic" autocomplete="off" name="topicTitle" id="topicTitle" class="input" type="text"> -->
                <textarea formControlName="discussion_topic" class="input2" autocomplete="off" name="topicTitle" id="topicTitle" rows="8"></textarea>
            </div>
            <div class="button-group2">
                <button class="submit-btn">ADD</button>
            </div>
        </form>
    </div>
</div>
