<section class="h-100 bg-light">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="card-body p-md-4 text-black">
              <h3 class="mb-5 text-uppercase">Forgot Password</h3>
  
              <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
                <div class="form-outline mb-2">
                  <input
                    formControlName="email"
                    type="email"
                    id="form3Example97"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example97">Enter your Email</label>
                </div>
  
                <div class="d-flex justify-content-end pt-3">
                  <button type="submit" class="btn btn-primary btn-lg">Send Reset Code</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  