<div class="wrapper">
    <div class="header">
    </div>
    <h1>Basic Literacy Program</h1>
    <div class="loader-container" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>
    <div *ngIf="!isLoading" class="cards-container">
      <div class="card" *ngFor="let sub of subBlp">
        <a (click)="navigateToModules(sub.classid)">
          <img src='/assets/{{sub.image}}' alt="Class 1">
          <div class="card-title">{{sub.subject_name}}</div>
          <div class="card-body">
            <p class="subjecttime">{{sub.Schedule}}</p>
            <p class="subjecttime">|{{sub.school}}|</p>
          </div>
        </a>
      </div>
    </div>
    <h1 class="mt-5">ALS Elementary</h1>
    <div class="loader-container" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>
    <div *ngIf="!isLoading" class="cards-container">
      <div class="card" *ngFor="let sub of subAlsElem">
        <a (click)="navigateToModules(sub.classid)">
          <img src='/assets/{{sub.image}}' alt="Class 1">
          <div class="card-title">{{sub.subject_name}}</div>
          <div class="card-body">
            <p class="subjecttime">{{sub.Schedule}}</p>
            <p class="subjecttime">|{{sub.school}}|</p>
          </div>
        </a>
      </div>
    </div>
    <h1 class="mt-5">ALS Junior Highschool</h1>
    <div class="loader-container" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>
    <div *ngIf="!isLoading" class="cards-container">
      <div class="card" *ngFor="let sub of subAlsJhs">
        <a (click)="navigateToModules(sub.classid)">
          <img src='/assets/{{sub.image}}' alt="Class 1">
          <div class="card-title">{{sub.subject_name}}</div>
          <div class="card-body">
            <p class="subjecttime">{{sub.Schedule}}</p>
            <p class="subjecttime">|{{sub.school}}|</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Notifications</h2>
      <p>No new notifications</p>
    </div>
  </div>
  
