<!-- <div class="wrapper">
    <div class="header">
        <h1>Subjects</h1>
        <div class="notification-icon" (click)="openModal()">
            <i class="fa fa-bell-o fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="cards-container">
        <div class="card">
            <a [routerLink]="['/main/Subject/main/subject/modulesmain/modules']">
                <img src="./assets/SCTS.jfif" alt="Class 1">
                <div class="card-title">Scientific and Critical Thinking Skills</div>
                <div class="card-footer">
                    <p class="subjecttime">8:00AM - 9:00AM</p></div>
            </a>
        </div>
        <div class="card">
            <img src="./assets/math.jfif" alt="Class 2">
            <div class="card-title">Mathematical and Problem-solving Skills</div>
            <div class="card-footer">
                <p class="subjecttime">9:00AM - 10:00AM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/understanding.jpg" alt="Class 3">
            <div class="card-title">Understanding the Self and Society</div>
            <div class="card-footer">
                <p class="subjecttime">10:00AM - 11:00AM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/life.jpg" alt="Class 4">
            <div class="card-title">Life and Career Skills</div>
            <div class="card-footer">
                <p class="subjecttime">1:00PM - 2:00PM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/SCTS.jfif" alt="Class 1">
            <div class="card-title">Scientific and Critical Thinking Skills</div>
            <div class="card-footer">
                <p class="subjecttime">8:00AM - 9:00AM</p></div>
        </div>
        <div class="card">
            <img src="./assets/math.jfif" alt="Class 2">
            <div class="card-title">Mathematical and Problem-solving Skills</div>
            <div class="card-footer">
                <p class="subjecttime">9:00AM - 10:00AM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/understanding.jpg" alt="Class 3">
            <div class="card-title">Understanding the Self and Society</div>
            <div class="card-footer">
                <p class="subjecttime">10:00AM - 11:00AM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/life.jpg" alt="Class 4">
            <div class="card-title">Life and Career Skills</div>
            <div class="card-footer">
                <p class="subjecttime">1:00PM - 2:00PM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/SCTS.jfif" alt="Class 1">
            <div class="card-title">Scientific and Critical Thinking Skills</div>
            <div class="card-footer">
                <p class="subjecttime">8:00AM - 9:00AM</p></div>
        </div>
        <div class="card">
            <img src="./assets/math.jfif" alt="Class 2">
            <div class="card-title">Mathematical and Problem-solving Skills</div>
            <div class="card-footer">
                <p class="subjecttime">9:00AM - 10:00AM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/understanding.jpg" alt="Class 3">
            <div class="card-title">Understanding the Self and Society</div>
            <div class="card-footer">
                <p class="subjecttime">10:00AM - 11:00AM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/life.jpg" alt="Class 4">
            <div class="card-title">Life and Career Skills</div>
            <div class="card-footer">
                <p class="subjecttime">1:00PM - 2:00PM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/SCTS.jfif" alt="Class 1">
            <div class="card-title">Scientific and Critical Thinking Skills</div>
            <div class="card-footer">
                <p class="subjecttime">8:00AM - 9:00AM</p></div>
        </div>
        <div class="card">
            <img src="./assets/math.jfif" alt="Class 2">
            <div class="card-title">Mathematical and Problem-solving Skills</div>
            <div class="card-footer">
                <p class="subjecttime">9:00AM - 10:00AM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/understanding.jpg" alt="Class 3">
            <div class="card-title">Understanding the Self and Society</div>
            <div class="card-footer">
                <p class="subjecttime">10:00AM - 11:00AM</p>
            </div>
        </div>
        <div class="card">
            <img src="./assets/life.jpg" alt="Class 4">
            <div class="card-title">Life and Career Skills</div>
            <div class="card-footer">
                <p class="subjecttime">1:00PM - 2:00PM</p>
            </div>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Notifications</h2>
        <p>No new notifications</p>
    </div>
</div> -->

<div class="wrapper">
    <div class="header">
      <!-- <h1>Subjects</h1>
      <div class="level-filter">
        <label for="levelSelect">Level of Education:</label>
        <select id="levelSelect" (change)="onLevelChange($event)">
          <option value="all">All Levels</option>
          <option value="blp">BLP</option>
          <option value="alsElem">ALS Elem</option>
          <option value="alsJhs">ALS JHS</option>
        </select>
      </div> -->
      <!-- <div class="notification-icon" (click)="openModal()">
        <i class="fa fa-bell-o fa-2x" aria-hidden="true"></i>
      </div> -->
    </div>
    <h1>Basic Literacy Program</h1>
    <div class="cards-container">
      <div class="card" *ngFor="let sub of subBlp">
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/', sub.subjectID]">
          <img src='/assets/{{sub.image}}' alt="Class 1">
          <div class="card-title">{{sub.subject_name}}</div>
          <div class="card-body">
            <p class="subjecttime">{{sub.Schedule}}</p>
          </div>
        </a>
      </div>
    </div>
    <h1 class="mt-5">ALS Elementary</h1>
    <div class="cards-container">
      <div class="card" *ngFor="let sub of subAlsElem">
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/', sub.subjectID]">
          <img src='/assets/{{sub.image}}' alt="Class 1">
          <div class="card-title">{{sub.subject_name}}</div>
          <div class="card-body">
            <p class="subjecttime">{{sub.Schedule}}</p>
          </div>
        </a>
      </div>
    </div>
    <h1 class="mt-5">ALS Junior Highschool</h1>
    <div class="cards-container">
      <div class="card" *ngFor="let sub of subAlsJhs">
        <a [routerLink]="['/main/Subject/main/subject/modulesmain/', sub.subjectID]">
          <img src='/assets/{{sub.image}}' alt="Class 1">
          <div class="card-title">{{sub.subject_name}}</div>
          <div class="card-body">
            <p class="subjecttime">{{sub.Schedule}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Notifications</h2>
      <p>No new notifications</p>
    </div>
  </div>
  
