<div class="header">
    <!-- <h1 style="text-align: center;">Checking</h1> -->
    <h1 style="text-align: center;">{{fname}} {{lname}}'s Assessment</h1>
    <div class="button-group">
      <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'mat']"  routerLinkActive="active">
          <button class="nav-btn">Learning Material</button>
      </a>
      <!-- <a [routerLink]="[ '/main/Subject/main/subject/modulesmain/:id/modules/assess']"  routerLinkActive="active"> -->
          <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'assess']"  routerLinkActive="active">
          <button class="nav-btn">Assessment</button>
      </a>
      <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', moduleID, 'discuss']"  routerLinkActive="active">
          <button class="nav-btn">Discussion</button>
      </a>
  </div>
  </div>
<div class="modules">
  <div class="module">
      <div class="p-6 bg-background text-foreground">
          <div class="header-container">
              <h2 class="text-xl font-bold mb-4">{{ det.title }}</h2>
              <h2 class="text-xl font-bold mb-4">Total Score: {{ studScore.score }}/{{ maxScore }}</h2>
          </div>
          <p class="mb-4">
              {{ det.instruction }}
          </p>

          <!-- Loop through the questions array -->
          <ol>
            <div *ngFor="let answer of studentAnswers; let i = index">
              <!-- <li> -->
                <div class="hoverable-question">
                    <span *ngIf="answer.type != 'Essay'" style="color: blue;"><u>{{ answer.student_answer }}</u></span>
                    {{ i + 1 }}. <!-- Display the question number -->
                    <strong>{{ answer.question }}</strong> <!-- Display the question text -->
                </div>
          
                <!-- Essay answer display -->
                <div *ngIf="answer.type === 'Essay'" class="input-wrapper">
                    <textarea style="width: 600px; height: 100px;" name="q{{answer.question_id}}" [value]="answer.student_answer" disabled></textarea>
                </div>
          
                <!-- Non-essay answer display -->
                <div *ngIf="answer.type !== 'Essay'" class="input-wrapper">
                    <h6><b>Key Answer</b>: <u>{{ answer.key_answer }}</u></h6>
                </div>
              <!-- </li> -->
                <div *ngIf="answer.type != 'true-false'" class="score-input mb-3 mt-2">
                    <label for="scoreinput" style="color: red;">Score:</label>
                    <input style="width: 20px; border-radius: 10px;" id="scoreinput" type="text" [(ngModel)]="answer.score" [value]="answer.score">/{{answer.points}}<!-- Display the score -->
                    <button class="nav-btn2" (click)="manualCheck(answer.question_id, answer.score)">Update Score</button>
                </div>
            </div>
          </ol>
        </div>
    </div>
</div>