        <div class="header">
            <h1>My Modules</h1>
            <div class="notification-icon" (click)="openModal()">
                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="modules">
            <div class="module">
                <!-- <a [routerLink]="['/main/Subject/main/subject/modulesmain/:id/modules/mat']">First Aid: A Necessity</a> -->
                <a [routerLink]="['/main/Subject/main/subject/modulesmain/', subjectID, 'modules', 'mat']">First Aid: A Necessity</a>
                <!-- <p>Aug 17, 2023</p> -->
                <p>{{subjectID}}</p>
            </div>
        </div>

<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Add Module</h2>
        <div class="input-group">
            <label class="label">Title</label>
            <input autocomplete="off" name="Email" id="Email" class="input" type="text">
        <div>
        <div class="input-group2">
            <label class="label2">Description</label>
            <input autocomplete="off" name="Email" id="Email" class="input2" type="text">
        <div>
            <div class="input-group2">
                <label class="label2">Date</label>
                <input autocomplete="off" name="Email" id="Email" class="input2" type="date">
            <div>
        <div class="button-group">
            <button class="submit-btn">ADD</button>
        </div>
    </div>
</div>
