.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content h1 {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.modules {
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.module {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    /* border-bottom: 1px solid #ddd; */
}

.module a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.module p {
    color: #888;
    margin: 0;
}

/* Modal Style */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    position: relative;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; /* Add margin-bottom to space out from other elements if needed */
}

.label {
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input {
    max-width: 100%;
    height: 44px;
    background-color: #05060f0a;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s, background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
}

.input-group:hover .label, .input:focus ~ .label {
    color: #05060fc2;
}

.input-group2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; /* Add margin-bottom to space out from other elements if needed */
}

.label2 {
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input2 {
    max-width: 100%;
    height: 44px;
    background-color: #05060f0a;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s, background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input2:hover, .input2:focus, .input-group2:hover .input2 {
    outline: none;
    border-color: #05060f;
}

.input-group2:hover .label2, .input2:focus ~ .label2 {
    color: #05060fc2;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #0c7db1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .3s;
}

.submit-btn:hover {
    background-color: #055a8c;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }

    .main-content {
        padding-left: 0;
        max-width: 100%;
    }

    .modules {
        width: 100%;
    }
}
