        <div class="header">
            <h1>My Modules</h1>
            <div class="notification-icon" (click)="openModal()">
                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="loader-container" *ngIf="isLoading">
            <div class="spinner"></div>
        </div>
        <div *ngIf="!isLoading" class="modules">
            <div class="module" *ngFor="let mod of modules">
                <a *ngIf="isModuleOpen(mod.date)"  (click)="setModuleID(mod.modules_id, mod.title, mod.description)"[routerLink]="['/main/Subject/main/subject/modulesmain', storedSubjectID, 'modules', mod.modules_id, 'mat']">
                    {{ mod.title }}
                </a>
                <div *ngIf="!isModuleOpen(mod.date)" style="color: gray; display: flex; justify-content: space-between; align-items: center;">
                    <span>{{ mod.title }} (Closed)</span>
                    <button class="open-btn nav-btn2" (click)="forceOpenModule(mod.modules_id)" style="margin-left: 10px;">Open</button>
                </div>
                <p>{{mod.date | date}}</p>
            </div>
        </div>

<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <h1>Add Module</h1>
        <form [formGroup]="createModule" (ngSubmit)="save()">
            <div class="input-group">
                <label class="label">Title</label>
                <input formControlName="title" autocomplete="off" name="title" id="title" class="input" type="text">
            </div>
            <div class="input-group2">
                <label class="label2">Description</label>
                <textarea formControlName="description" autocomplete="off" name="description" id="description" class="textarea"></textarea>            </div>
                <div class="input-group2">
                    <label class="label2">Date</label>
                    <input formControlName="date" autocomplete="date" name="date" id="date" class="input2" type="date">
                </div>
            <div class="button-group">
                <button class="submit-btn">ADD</button>
            </div>
        </form>
    </div>
</div>
