<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/main/Subject/main']">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/main/Subject/main/subject']">
                Subjects
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">All Assessments</li>
    </ol>
  </nav>
  <div *ngFor="let module of assess">
    <h3>{{ module.module_title }}</h3>
    <div *ngFor="let lesson of module.lessons">
        <h4>{{ lesson.lesson_title }}</h4>
        <div *ngFor="let assessment of lesson.assessments">
            <div class="file-link">
                <a (click)="navigateToQuestions(assessment.assessment_id, lesson.lesson_title)" routerLinkActive="active">
                    {{ assessment.title }}
                </a>
                <p>{{ assessment.formatted_due_date }}</p>
            </div>
            <div class="instruction">
                <p>{{ assessment.instruction }}</p>
            </div>
        </div>
    </div>
</div>

